[AWS]
# Credentials are read from the environment (AWS_ACCESS_KEY_ID / AWS_SECRET_ACCESS_KEY)
# or ~/.aws/credentials - do not hardcode them here.
access_key_id =
secret_access_key =

[IAM]
role_name =MyFirehoseLambdaRole
policy_name =FullAccessS3KinesisLambda

[Firehose]
region = us-east-1
stream_name = polygon_stream
delivery_stream_type = 'DirectPut'
size_in_mb = 5
interval_in_seconds = 60
compression_format = 'GZIP'

[S3]
bucket_name =my-datacuration-pipeline-bucket