# API Configuration
API_KEY=
POLYGON_API_KEY=

# MongoDB Database
MONGODB_URL=
MONGODB_DB_NAME=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET=
AWS_REGION=

# Swagger Auth
DOCS_USERNAME=
DOCS_PASSWORD=

#Datadog
DD_API_KEY=
DD_LOGGING_ENV=
DD_SERVICE=
DD_HOSTNAME=
